Q1.

In [92]:
import math
import csv
import numpy as np
import pandas as pd

In [93]:
stu_adm = pd.read_csv('student_admission106.csv', encoding="utf-8", dtype=str)
uname = pd.read_csv('univ_name106short1.csv', encoding="utf-8", dtype=str)

all_depid = stu_adm['department_id'].unique()
all_stuid = stu_adm['student_id'].unique()

ndepid = all_depid.shape[0]
nstuid = all_stuid.shape[0]
print("There are %d students and %d departments in total." % (nstuid, ndepid))

print("offers received by students:")
stu_adm.head(10)

There are 60461 students and 1976 departments in total.
offers received by students:

  school_id department_id student_id student_name state location1 location2
0       001        001012   10246842          黃士玹    正1        南部      台南考區
1       001        001012   10042237          黃冠婷    正2        北部      台北考區
2       001        001012   10008031          鍾大方    正3        北部      台北考區
3       001        001012   10201525          曾信豪    正4        中部      彰化考區
4       001        001012   10014615          陳品儒    正5        北部      台北考區
5       001        001012   10294018          侯思筠    正6        東部      宜蘭考區
6       001        001012   10022810          吳悅慈    正7        北部      台北考區
7       001        001012   10236223          陳俞潔    正8        南部      台南考區
8       001        001012   10025909          蕭宇廷    正9        北部      台北考區
9       001        001012   10123708          吳岱軒   正10        北部      中壢考區

In [94]:
print("academic department basic information:")
uname.head(10)

academic department basic information:

,year,school_id,department_id,school_name,department_name,category_id,category_name,school_name_abbr,department_name_abbr
0,106,006,006042,國立政治大學,教育學系,1,教育,政大,教育
1,106,006,006052,國立政治大學,教育學系(公費生),1,教育,政大,教育(公)
2,106,006,006062,國立政治大學,教育學系(原住民公費生),1,教育,政大,教育(原住民)
3,106,006,006022,國立政治大學,歷史學系,2,藝術及人文,政大,歷史
4,106,006,006152,國立政治大學,民族學系,2,藝術及人文,政大,民族學
5,106,006,006032,國立政治大學,哲學系,2,藝術及人文,政大,哲學
6,106,006,006262,國立政治大學,英國語文學系,2,藝術及人文,政大,英國語文
7,106,006,006292,國立政治大學,日本語文學系,2,藝術及人文,政大,日本語文
8,106,006,006272,國立政治大學,阿拉伯語文學系,2,藝術及人文,政大,阿拉伯語文
9,106,006,006302,國立政治大學,韓國語文學系,2,藝術及人文,政大,韓國語文

In [95]:
# print(stu_adm[stu_adm['student_id'] == '10246842'])

In [148]:
# print(d_id)
dep_id = list(stu_adm['department_id'])
stu_id = list(stu_adm['student_id'])
compare = pd.DataFrame({'department_id':dep_id,
                        'stu_id':stu_id})
m_id = pd.merge(uname, compare)
to_drop = ['year', 'school_id', 'school_name', 'department_name', 'category_id', 'category_name', 'school_name_abbr', 'department_name_abbr']
m_id = m_id.drop(to_drop, axis = 1)
dummies = pd.get_dummies( m_id.loc[:, 'department_id'], prefix='department_id') 
m_id = pd.concat( [m_id, dummies], axis = 1 )
# print(m_id)
# print(m_id[m_id['stu_id'] == '110246842'])
m_id = m_id.drop("department_id", axis = 1)
# print(m_id)
# mat_id = m_id.drop("stu_id", axis = 1)
# print(mat_id)
# m_id

In [149]:
c_list = mat_id.columns.values.tolist()
# print(c_list)
clist = c_list[1:]
need_to_del = []
for col in clist:
    if np.sum(mat_id[col]) < 10:
        mat_id = mat_id.drop(col, axis = 1)
# print(sum(mat_id.loc[6]))
# print(mat_id.shape)
# 181267
# 47273
print(mat_id.shape)
mat_id = mat_id.groupby(stu_id).sum()

(181267, 1932)

In [150]:
np.sum(mat_id.loc['10000110'])
sum(mat_id.loc['10025838'])

1

In [139]:
# mat_id.head(5)
print(mat_id.shape)
indexs = []
for i in mat_id.index:
    if sum(mat_id.loc[i]) < 2:
        indexs.append(i)
mat_id = mat_id.drop(indexs)
print(mat_id.shape)

(60461, 1931)
(47432, 1931)

In [143]:
del_row = np.load('./jizz.npy')

indexs = np.array(indexs)

In [147]:
for i in indexs:
    if i not in del_row:
        print(i)

10025838
10033139
10041130
10051334
10057717
10065431
10067420
10089912
10096916
10131305
10139701
10149508
10171029
10171321
10191724
10202515
10209030
10211302
10215936
10224818
10225816
10259801
10266518
10268115
10287627
10288407

In [123]:
mat_id.index[indexs[0:5]]
mat_id.loc()

Index(['10000110', '10000126', '10000217', '10000224', '10000313'], dtype='object')

In [118]:
matr_id = mat_id.T
print(matr_id.shape)
matr_id.head(10)

(1931, 47432)

,10000101,10000110,10000111,10000112,10000114,10000116,10000120,10000121,10000125,10000126,...,19710702,19710703,19710708,19710709,19770103,19810104,19810201,19810202,19840201,19950101
department_id_001012,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
department_id_001022,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
department_id_001032,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
department_id_001042,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
department_id_001052,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
department_id_001062,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
department_id_001072,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
department_id_001082,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
department_id_001092,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
department_id_001102,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

1.
<br>number of academic departments: 1931
<br>student applicants: 47432

In [114]:
from operator import itemgetter, attrgetter
x = []
for i in range(1931):
    x.append(np.sum(matr_id.iloc[i].astype(int)))
name = matr_id.index
zzzzzz = zip(name, x)
print(sorted(zzzzzz, key = itemgetter(1),reverse = True)[:10])

[('department_id_012052', 402), ('department_id_008122', 382), ('department_id_046032', 369), ('department_id_033212', 362), ('department_id_042512', 360), ('department_id_008112', 350), ('department_id_005192', 348), ('department_id_005182', 347), ('department_id_023252', 347), ('department_id_004382', 339)]

MemoryError: Unable to allocate 5.33 GiB for an array with shape (2965015, 1931) and data type bool

          department_id_001012  department_id_001022  department_id_001032  \
stu_id
10072725                     0                     0                     0
10022332                     0                     0                     0
10105631                     0                     0                     0
10186702                     0                     0                     0
10090111                     0                     0                     0
...                        ...                   ...                   ...
10142141                     0                     0                     0
10152137                     0                     0                     0
10208823                     0                     0                     0
10227628                     0                     0                     0
10240325                     0                     0                     0

          department_id_001042  department_id_001052  department_id_001062  \
stu_id
10072725                     0                     0                     0
10022332                     0                     0                     0
10105631                     0                     0                     0
10186702                     0                     0                     0
10090111                     0                     0                     0
...                        ...                   ...                   ...
10142141                     0                     0                     0
10152137                     0                     0                     0
10208823                     0                     0                     0
10227628                     0                     0                     0
10240325                     0                     0                     0

          department_id_001072  department_id_001082  department_id_001092  \
stu_id
10072725                     0                     0                     0
10022332                     0                     0                     0
10105631                     0                     0                     0
10186702                     0                     0                     0
10090111                     0                     0                     0
...                        ...                   ...                   ...
10142141                     0                     0                     0
10152137                     0                     0                     0
10208823                     0                     0                     0
10227628                     0                     0                     0
10240325                     0                     0                     0

          department_id_001102  ...  department_id_153092  \
stu_id                          ...
10072725                     0  ...                     0
10022332                     0  ...                     0
10105631                     0  ...                     0
10186702                     0  ...                     0
10090111                     0  ...                     0
...                        ...  ...                   ...
10142141                     0  ...                     0
10152137                     0  ...                     0
10208823                     0  ...                     0
10227628                     0  ...                     0
10240325                     0  ...                     0

          department_id_153102  department_id_153112  department_id_153122  \
stu_id
10072725                     0                     0                     0
10022332                     0                     0                     0
10105631                     0                     0                     0
10186702                     0                     0                     0
10090111                     0                     0                     0
...                        ...                   ...                   ...
10142141                     0                     0                     0
10152137                     0                     0                     0
10208823                     0                     0                     0
10227628                     0                     0                     0
10240325                     0                     0                     0

          department_id_153132  department_id_153142  department_id_153152  \
stu_id
10072725                     0                     0                     0
10022332                     0                     0                     0
10105631                     0                     0                     0
10186702                     0                     0                     0
10090111                     0                     0                     0
...                        ...                   ...                   ...
10142141                     0                     0                     0
10152137                     0                     0                     0
10208823                     0                     0                     0
10227628                     0                     0                     0
10240325                     0                     0                     0

          department_id_153162  department_id_153172  department_id_153182
stu_id
10072725                     0                     0                     0
10022332                     0                     0                     0
10105631                     0                     0                     0
10186702                     0                     0                     0
10090111                     0                     0                     0
...                        ...                   ...                   ...
10142141                     0                     0                     0
10152137                     0                     0                     0
10208823                     0                     0                     0
10227628                     0                     0                     0
10240325                     0                     0                     0

[181267 rows x 1931 columns]